<html>
    <head>
        {% if title %}
        <title>{{ title }} - Flask Project Test</title>
        {% else %}
        <title>Welcome to Flask Project Test </title>
        {% endif %}
    </head>
    <body>
        <div>FLASK PROJECT TEST: <a href="{{ url_for('index') }}">Home</a>
                                 <a href="{{ url_for('login') }}">Log In</a>                           
        </div>
        <hr>
        <!-- Flash Message -->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %} {% endblock %}
    </body>
</html>
