{% extends "base.html" %}

{% block content %}
<h1>Sign In</h1>
<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        <br>
        {{ form.name(size=32, placeholder="Full name") }}
        {% for error in form.name.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}

    </p>
    <p>
       <br>
        {{ form.email(size=32, placeholder="Email") }}
        {% for error in form.email.errors %}
        <span style="color: red;">[{{ error }}]</span>
        {% endfor %}
    </p>
    <p>
        <br>
         {{ form.subject(size=32, placeholder="Subject") }}
         {% for error in form.subject.errors %}
         <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
     </p>
    <p>
        <br>
        {{ form.message( placeholder="Message" ) }} 
        {% for error in form.subject.errors %}
         <span style="color: red;">[{{ error }}]</span>
         {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>
</form>
{% endblock %}